[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sahityadronamraju
[access "refs/for/refs/*"]
	read = group user/sahityadronamraju
	push = group user/sahityadronamraju
	label-Code-Review = -2..+2 group user/sahityadronamraju
	label-Verified = -1..+1 group user/sahityadronamraju
	rebase = group user/sahityadronamraju
	removeReviewer = group user/sahityadronamraju
	submit = group user/sahityadronamraju
[access "refs/heads/*"]
	read = group user/sahityadronamraju
	create = group user/sahityadronamraju
	push = +force group user/sahityadronamraju
	pushMerge = group user/sahityadronamraju
[access "refs/tags/*"]
	push = group user/sahityadronamraju
	push = +force group user/sahityadronamraju
